@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --orange: #ffb548;
  --white: #fff;
  --black: #1a1917;
}

html {
  scroll-behavior: smooth;
}

.standart-text {
  color: var(--white);
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #1a1917;
}

.header-block {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-image: url("../img/bg-image-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-filter-block {
  width: 100%;
  height: 100%;
  background: radial-gradient(189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(52, 44, 29, 0.8) 73.22%,
      #08090a 99.74%);
}

.header-top-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 145px;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.header-menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.header-menu-li {}

.header-menu-link {
  color: var(--white);
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--white);
}

.header-menu-link:hover {
  color: var(--orange);
  -webkit-text-stroke-color: var(--orange);
}

.header-lang-icon-block {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.language-block {
  display: flex;
  flex-direction: column;
  /* align-self: end;
    margin-bottom: -19px; */
}

.language-block-in-block {
  display: flex;
}

.language-open-block {
  /* display: flex; */
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  top: 9%;
  padding: 5px 20px 5px 5px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.75);
}

.lang-change {
  color: var(--white);
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--white);
}

.lang-change:hover {
  color: var(--orange);
  transition: all 0.3s ease;
  -webkit-text-stroke-color: var(--orange);
}

.lang-change-hover {
  color: var(--orange);
  transition: all 0.3s ease;
  -webkit-text-stroke-color: var(--orange);
}

.change-checkmark-color {
  color: var(--orange);
  transition: all 0.3s ease;
  -webkit-text-stroke-color: var(--orange);
}

.lang-change-checkmark-block {
  transition: all 0.3s ease;
  transform: rotate(-90deg) !important;
}

.lang-change-checkmark {
  color: var(--white);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* letter-spacing: 0.12rem; */
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: rotate(90deg);
  padding-right: 5px;
  padding-left: 5px;
}

.lang-change-line {
  background-color: var(--white);
  width: 1px;
  height: 30px;
  margin-left: 20px;
}

.icons-block {
  display: flex;
}

.xbox-block {
  margin-right: 16px;
  margin-left: 23px;
}

.steam-block {}

.wrapper {
  /* width: 84%; */
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.header-wrapper {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.header-title-text {
  text-align: center;
}

.header-title-text h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.header-title-text h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2rem;
  margin-bottom: 30px;
}

.header-title-text a {
  text-decoration: none;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--black);
  border-radius: 4px;
  background-color: var(--orange);
  padding: 17.5px;
  padding-bottom: 20.5px;
  transition-duration: 0.7s;
}

.header-title-text a:hover {
  background-color: var(--white);
  transition-duration: 0.7s;
}

.header-stycker-story {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change-color-stycker-story-link {
  color: var(--orange);
  transition: all 1s ease;
}

.change-backgound-stycker-story-bar {
  background-color: var(--orange) !important;
  transition: all 1s ease;
}

.header-stycker-story a {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 1s ease;
}

.triangle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  width: 2px;
  height: 20px;
  background-color: var(--white);
  border-radius: 2px;
  transition: all 1s ease;
}

.bar:first-child {
  position: relative;
  transform: rotate(90deg);
  margin-top: -13px;
  height: 27.3px;
  position: absolute;
}

.bar:nth-child(2) {
  transform: rotate(-45deg);
}

.bar:last-child {
  transform: rotate(45deg);
  margin-left: 11px;
}

/* block about start */

.wrap-block {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.about {
  background-image: url("../img/bg-image-2.jpg");
}

.filter-about-block {
  width: 100%;
  height: 100%;
  background: radial-gradient(136.03% 54.57% at 50% 48.04%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 60.63%,
      #080a0b 99.74%);
}

.about-block {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.about-block-title {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: var(--white);
}

.about-block h3 {
  font-size: 3rem;
}

.about-block h2 {
  font-size: 7rem;
}

.about-block p {
  font-size: 1.8rem;
  width: 70%;
  text-align: left;
  align-self: end;
}

.text-underline {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.text-underline::before {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  opacity: 0.8;
  background-color: var(--orange);
  top: 17px;
  z-index: -1;
}

.about-line {
  position: relative;
  z-index: 10;
  width: 140%;
  height: 4px;
  background-color: var(--white);
  border-radius: 4px;
  margin-bottom: 60px;
  margin-top: 10px;
}

.slider-block {
  width: 50%;
  padding-left: 5%;
}

.swiper-slide {
  height: 610.521px;
  overflow: hidden;
  margin-left: 30px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--white);
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: " ";
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: " ";
  transform: rotate(180deg);
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: none;
  border: 1px var(--white) solid;
  opacity: 1;
  margin-right: 50px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--white);
}

.swiper-pagination-bullet-active:after {
  content: "";
  position: absolute;
  width: 62px;
  height: 3px;
  background-color: var(--white);
  top: 5px;
  /* transition: all 2s ease; */
  animation-name: paginationWidth;
  animation-duration: 1s;
}

@keyframes paginationWidth {
  0% {
    width: 0px;
  }

  100% {
    width: 62px;
  }
}

.swiper-pagination-bullet-active:last-child::after {
  opacity: 0;
}

.slide-image {
  height: 100%;
}

/* end about block */

/* start features */

.features {
  background-image: url("../img/bg-image-3.jpg");
}

.filter-features-block {
  width: 100%;
  height: 100%;
  background: radial-gradient(81.01% 53.57% at 30.85% 53.65%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 19.2%,
      rgba(4, 5, 6, 0.52) 47.48%,
      #080a0b 99.74%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.features-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.features-block h3 {
  font-size: 2.4rem;
}

.features-block h2 {
  font-size: 8.0rem;
}

.accardeon-block {
  color: var(--orange);
  text-align: center;
  font-family: Bebas Neue, sans-serif;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.accardeon-block::before {
  color: var(--white);
  content: '•';
  font-size: 4.0rem;
}


.accardeon-block p {
  font-size: 1.8rem;
}

/* end features */

.wrap-block-3 {
  background-image: url("../img/bg-image-4.jpg");
}

.wrap-block-4 {
  height: 200vh;
  background-image: url("../img/bg-image-5.jpg");
}